<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>formulario</ion-title>
    <ion-button (click)="back()" slot="end">volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <form (ngSubmit)="irHome()">
      <ion-item>
        <ion-label position="floating">titulo:</ion-label>
        <ion-input type="text" [(ngModel)]="titulo" name="titulo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción:</ion-label>
        <ion-input type="text" [(ngModel)]="Descripcion" name="Descripcion"></ion-input>
      </ion-item>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="radio" (click)="takePicture()">
          <ion-icon name="camera-outline"></ion-icon>
          Camara
        </ion-tab-button>
      </ion-tab-bar>

        <div id="Photo" >
          <img [src]="imageSource" />
        </div>

      <div>
        <ion-button type="submit" slot="start"> Subir foto </ion-button>
        <ion-button (click)="back()" slot="end"> Cancelar envio </ion-button>
      </div>
    </form>
  </div>

</ion-content>
