<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Blank</ion-title>
    <ion-button (click)="salir()" slot="end">salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-card *ngIf="imageFileCounter > 0">
    <img alt=". ¿Foto?" [src]="imageSource" />
    <ion-card-header>
      <ion-card-title>{{ title }}</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    
    <ion-button (click)="irDetalle()">Detalle</ion-button>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="radio" (click)="takePicture()">
      <ion-icon name="camera-outline"></ion-icon>
      Camara
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
