<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Blank</ion-title>
    <ion-button (click)="salir()" slot="end">salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-card *ngIf="receivedImageSource !== undefined">
    <img *ngIf="receivedImageSource" [src]="receivedImageSource" />

    <ion-card-header>
      <ion-card-title>{{ receivedTitulo }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content *ngIf="receivedDescripcion">
      {{receivedDescripcion}}
    </ion-card-content>

    <div *ngIf="reciveSelectedRating !== 0">
      <h5>Calificación: <ion-icon slot="end" *ngFor="let _ of getStarsArray(reciveSelectedRating)" name="star-sharp"></ion-icon></h5>  
    </div>
    
    <ion-item>
        <ion-button slot="start" (click)="irDetalle()">Detalle</ion-button>
        <ion-button slot="end" (click)="limpiar()">limpiar</ion-button>
    </ion-item>
    
  </ion-card>

  <ion-card *ngIf="reciveCoordinates">
    <ion-item>
      {{reciveCoordinates}}
      <ion-button slot="end" (click)="quitar()">Quitar</ion-button>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="radio" (click)="irFormulario()">
      <ion-icon name="camera-outline"></ion-icon>
      Tomar Foto
    </ion-tab-button>
    <ion-tab-button tab="radio" (click)="irMap()">
      <ion-icon name="location-outline"></ion-icon>
      Tomar Ubicación
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
